<div class="row">
  <div class="col s6">
    <div class="card blue-grey lighten-4">  <!-- create the card -->
      
      <div class="card-content">            <!-- card text -->
        <p>Quisque auctor ultricies fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec sapien sed nunc vestibulum tempus. Duis porttitor nunc nisi, non accumsan leo hendrerit ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque blandit laoreet fermentum.</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <h3>States</h3>
    ...
  </div>
</div>
